$topheader-background:#242323;
$topheader-text-color:#e8e8e8;
$topheader-font-family:'Oswald', sans-serif;

$header-background:#f9db79;
$header-color: #242323;
$header-hover-color: #fff;
$header-active-color:#f386aa;

$header-font-size: 18px;
$header-font-family: 'Oswald', sans-serif;

$header-logo-color:#242323;
$header-logo-hover-color:#5c4b4b;

$header-logo-font-family: 'The Nautigal', cursive;
$header-logo-font-size: 50px;

$header-toggle-btn-color:#242323;
$header-toggle-border-color:#242323;

$header-social-icon-a-color:#242323;
$header-social-icon-a-hover-color:#fff;
$header-social-icon-a-font-size:18px;
$header-social-icon-a-i-font-size:30px;

$section-one-background-color:#f9db79;

$section-one-h1-color:#fff;
$section-one-h1-font-family:'Roboto', sans-serif;
$section-one-h1-font-size:150px;
$section-one-h1-font-size-mobile:70px;

$section-one-h3-color:#fff;
$section-one-h3-font-family:'Oswald', sans-serif;

$section-one-button-background-color:transparent;
$section-one-button-text-color:#fff;
$section-one-button-border-color:#f8f9fa;
$section-one-button-hover-background-color:#f8f9fa;
$section-one-button-hover-text-color:#000;
$section-one-button-hover-border-color:#f8f9fa;


$section-two-h2-color:#242323;
$section-two-h2-font-family:'Oswald', sans-serif;
$section-two-h2-font-size:30px;

$section-two-h3-color:#242323;
$section-two-h3-font-family:'The Nautigal', cursive;
$section-two-h3-font-size:40px;

$section-two-p-color:#242323;
$section-two-p-font-family:'Oswald', sans-serif;
$section-two-p-font-size:18px;

$section-two-button-background-color:transparent;
$section-two-button-text-color:#000;
$section-two-button-border-color:#000;
$section-two-button-hover-background-color:#000;
$section-two-button-hover-text-color:#f8f9fa;
$section-two-button-hover-border-color:#f8f9fa;

$section-three-h2-color:#fff;
$section-three-h2-font-family:'Roboto', sans-serif;
$section-three-h2-font-size:150px;
$section-three-h2-font-size-mobile:70px;

$section-three-h3-color:#fff;
$section-three-h3-font-family:'Oswald', sans-serif;

$section-three-button-background-color:transparent;
$section-three-button-text-color:#fff;
$section-three-button-border-color:#f8f9fa;
$section-three-button-hover-background-color:#f8f9fa;
$section-three-button-hover-text-color:#000;
$section-three-button-hover-border-color:#f8f9fa;



$section-four-h2-color:#242323;
$section-four-h2-font-family:'Oswald', sans-serif;
$section-four-h2-font-size:30px;

$section-four-h3-color:#242323;
$section-four-h3-font-family:'The Nautigal', cursive;
$section-four-h3-font-size:40px;

$section-four-p-color:#242323;
$section-four-p-font-family:'Oswald', sans-serif;
$section-four-p-font-size:18px;

$section-four-button-background-color:transparent;
$section-four-button-text-color:#000;
$section-four-button-border-color:#000;
$section-four-button-hover-background-color:#000;
$section-four-button-hover-text-color:#f8f9fa;
$section-four-button-hover-border-color:#f8f9fa;


$section-five-h2-color:#fff;
$section-five-h2-font-family:'Roboto', sans-serif;
$section-five-h2-font-size:150px;
$section-five-h2-font-size-mobile:70px;

$section-five-h3-color:#fff;
$section-five-h3-font-family:'Oswald', sans-serif;

$section-five-button-background-color:transparent;
$section-five-button-text-color:#fff;
$section-five-button-border-color:#f8f9fa;
$section-five-button-hover-background-color:#f8f9fa;
$section-five-button-hover-text-color:#000;
$section-five-button-hover-border-color:#f8f9fa;



$section-six-h2-color:#242323;
$section-six-h2-font-family:'Oswald', sans-serif;
$section-six-h2-font-size:30px;

$section-six-h3-color:#242323;
$section-six-h3-font-family:'The Nautigal', cursive;
$section-six-h3-font-size:40px;

$section-six-p-color:#242323;
$section-six-p-font-family:'Oswald', sans-serif;
$section-six-p-font-size:18px;

$section-six-button-background-color:transparent;
$section-six-button-text-color:#000;
$section-six-button-border-color:#000;
$section-six-button-hover-background-color:#000;
$section-six-button-hover-text-color:#f8f9fa;
$section-six-button-hover-border-color:#f8f9fa;

$carousel-h2-font-family:'Oswald', sans-serif;
$carousel-h2-font-size:'Oswald', sans-serif;
$carousel-h2-text-color:#242323;
$carousel-overlay-h3-font-family:'Oswald', sans-serif;
$carousel-overlay-h3-font-size:30px;
$carousel-overlay-h3-text-color:#fff;

$footer-background-color:#242323;

$footer-h2-font-family:'Oswald', sans-serif;
$footer-h2-font-size:30px;
$footer-h2-text-color:#fff;

$footer-h4-font-family:'Oswald', sans-serif;
$footer-h4-font-size:20px;
$footer-h4-text-color:#fff;

$footer-p-font-family:'Oswald', sans-serif;
$footer-p-font-size:18px;
$footer-p-text-color:#fff;

$footer-copywrite-text-color:#fff;
$footer-social-icon-color:#fff;
$footer-social-icon-hover-color:#5c4b4b;


$footer-button-background-color:transparent;
$footer-button-text-color:#fff;
$footer-button-border-color:#f8f9fa;
$footer-button-hover-background-color:#f8f9fa;
$footer-button-hover-text-color:#000;
$footer-button-hover-border-color:#f8f9fa;

$footer-input-text-color:#fff;


$font-paragraph:'Oswald', sans-serif;
$font-cursive:'The Nautigal', cursive;
$font-roboto:'Roboto', sans-serif;
$white:#fff;
$black:#242323;
$black-hover:#5c4b4b;
$header_bg:#f9db79;
