@media screen and (min-width: 768px) {
  .section-fou {
    > .row > div:first-child {
      position: relative;
      top: 4%;
      right: -2%;
      z-index: 1;
    }
    > .row > div:nth-child(2) {
      position: relative;
      top: 14%;
      left: -2%;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-fou.section-default img {
    margin-top: 8.5%;
  }
}
