.weblogo {
  display: flex;
  height: 100vh;
  position: absolute;
  text-align: center;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.HomeVideoBg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  video {
    height: 100vh;
    max-width: inherit;
  }
}

.navigation {
  position: absolute;
  z-index: 1;
  right: 4vw;
  top: 4vw;
  text-transform: uppercase;
  li {
    list-style: none;
    text-align: right;
    line-height: 200%;
    a {
      border: none;
      font-style: normal;
      color: #ffffff;
    }
  }
  .NavHamburger button {
    border: 1px solid #ffffff;
    text-align: center;
    color: #ffffff;
    background: transparent;
    float: right;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .navigation ul.d-none {
    display: block !important;
  }
  .NavHamburger {
    display: none;
  }
}
