@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Marcellus&display=swap');

$sectionone-logo-color: #ffffff;
$sectionone-logo-font-size: 18px;
$sectionone-logo-font-family: 'Marcellus', serif;

$sectionone-h1-color: #cef694;
$sectionone-h1-font-size: 88px;
$sectionone-h1-font-family: 'Cormorant Garamond', serif;

$sectionone-h2-color: #ffffff;
$sectionone-h2-font-size: 24px;
$sectionone-h2-font-family: 'Marcellus', serif;

$sectionone-button-color: #261f18;
$sectionone-button-font-size: 28px;
$sectionone-button-background: #cef694;
$sectionone-button-font-family: 'Marcellus', serif;



$sectiontwo-background: #fffaf4;

$sectiontwo-h4-color: #261f18;
$sectiontwo-h4-font-size: 70px;
$sectiontwo-h4-font-family: 'Cormorant Garamond', serif;

$sectiontwo-p-color: #261f18;
$sectiontwo-p-font-size: 18px;
$sectiontwo-p-font-family: 'Marcellus', serif;



$sectionthr-background: #cef694;

$sectionthr-h4-color: #261f18;
$sectionthr-h4-font-size: 70px;
$sectionthr-h4-font-family: 'Cormorant Garamond', serif;

$sectionthr-li-color: #261f18;
$sectionthr-li-font-size: 25px;
$sectionthr-li-font-family: 'Marcellus', serif;



$sectionfou-h2-color: #cef694;
$sectionfou-h2-font-size: 55px;
$sectionfou-h2-font-family: 'Cormorant Garamond', serif;



$sectionfiv-background: #f1ebe6;

$sectionfiv-h4-font-size: 55px;
$sectionfiv-h4-font-family: 'Cormorant Garamond', serif;

$sectionfiv-h4-color: #1b1b18;

$sectionfiv-background-1: #fff;




$sectionsix-h4-color: #fff;
$sectionsix-h4-font-size: 55px;
$sectionsix-h4-font-family: 'Cormorant Garamond', serif;

$sectionsix-p-color: #ffffff;
$sectionsix-p-font-size: 18px;
$sectionsix-p-font-family: 'Marcellus', serif;

$sectionsix-button-color: #261f18;
$sectionsix-button-font-size: 28px;
$sectionsix-button-background: #cef694;
$sectionsix-button-font-family: 'Marcellus', serif