@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700;900&display=swap');
$primary-clr: #F2562D;
$primary-gradient: linear-gradient(to right, #f2562d, #f14c2a, #f04128, #ee3326, #ed2224);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$black: #000;
$nav-bg: #272727;
$nav-txt-clr: #fff;
$nav-txt-active-clr: rgb(204,204,204);
$nav-txt-size: 18px;
$header-btn-brcolor: #fff;
$header-btn-txtcolor: #fff;


$slider-h1-color: #fff;
$slider-h1-size: 100px;
$slider-font: $secondary-font;
$slider-h2-color: #fff;
$slider-h2-size: 25px;
$slider-btn-clr: #fff;
$slider-btn-hover-clr: #272727;
$slider-btn-hover-fontclr: #fff;
$slider-border-clr: #272727;

$about-head-bg: #272727;
$about-headtxt-size: 24px;
$about-headtxt-clr: #fff;

$about-title-clr: #272727;
$about-title-size: 60px;
$about-title-wgt: 900;
$about-title-font: $secondary-font;
$about-btn-clr: #272727;
$about-txt: 14px;
$about-clr: rgb(83,83,83);

$tri-txt-size: 60px;
$tri-txt-lineh: 70px;
$tri-txt-clr: #fff;
$tri-stxt-size: 16px;
$tri-border-clr: #fff;
$tri-font: $secondary-font;

$form-border: #272727;
$form-txt: #272727;
$form-btn-bg: #272727;
$form-btn-clr: #fff;


$footer-bg: #272727;
$footer-txt-clr: #fff;
$footer-txt-size: 20px;
$footer-head-font: $secondary-font;
$footer-head-font-size: 40px;
$footer-form-brclr: #fff;
$footer-socialbg-clr: #fff;
$footer-socialtxt-clr: #282828;

$gallery-txt-size: 20px;
$gallery-txt-color: #fff;